
*{
    margin: 0;
}

.top-bar{
    display: flex;
    justify-content:space-evenly;
    padding: 50px 0px;
   
    
}
.logo{
    font-size: 3vw;
}
nav ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-left: 20px;
}
nav ul li a{
    text-decoration: none;
}